* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Vazirmatn', sans-serif;
  color: #555;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-family: inherit;
}

.main-container {
  display: flex;
  justify-content: center;
}

.countries-container {
  padding-top: 4rem;
  opacity: 0;
  transition: opacity 1s;
}

.country {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.5rem;
}

.neighbour::before {
  content: 'کشور همسایه';
  width: 100%;
  position: absolute;
  top: -4rem;

  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #888;
}

.neighbour {
  transform: scale(0.8) translateY(1rem);
  margin-left: 0;
}

.country__img {
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.country__data {
  padding: 3rem 1.5rem;
}

.country__name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.country__region {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #888;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row span {
  display: inline-block;
  margin-right: 1rem;
  font-size: 2.4rem;
}

.form-container {
  padding: 2rem;
  background-color: #eee;
  border-radius: 0.5rem;
}

.form {
  position: relative;
  margin-bottom: 1rem;
}

.form-label {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  font-size: 1.2rem;
  color: #777;
  cursor: text;
}

.form-input {
  font-size: 1.6rem;
  padding: 2.6rem 1.6rem 1rem 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  transition: 0.2s;
}

.form-input:focus {
  outline: none;
  border: 1px solid #ff4500;
  box-shadow: 0 0 0 0.4rem rgba(255, 99, 71, 0.25);
  caret-color: #333;
}

.form-btn {
  border: none;
  font-size: 1.6rem;
  padding: 0.4rem 1.2rem;
  border-radius: 0.5rem;
  color: white;
  background-color: #ff4500;
  cursor: pointer;
  transition: 0.2s;
}

.form-btn:hover {
  background-color: #e63e00;
}
